@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
  }
  @font-face {
    font-family: Roboto-Bold;
    src: url(../font/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: Roboto-Semi-Bold;
    src: url(../font/Roboto-Medium.ttf);
  }
  body,h1,h2,h3,h4,h5,p{
      margin: 0px;
  }
  body, html{
    font-size: 66%;
  }
  .roboto{
      font-family: Roboto;
  }
 .roboto-bold
 {
     font-family: Roboto-Bold;
 }
  .bg-blue
  {
     background-color: #064c95;
  }
  .bg-white
  {
      background-color: #f8f8f8;
  }
  .bg-black
  {
      background-color: #1e1c1c;
  }
  .button-blue.form-button
  {
      background-color: #3a6dfa;
  }
  .button-dark-blue
  {
      background-color: #0255ab;
  }
  .color-white{
      color: #f8f8f8;
  }
  .color-black
  {
    color: #333;
  }
  .color-red
  {
    color: #f00;
  }
  .row.content-padding{
      padding-left: 30px;
      padding-right: 30px;
  }
  .pd-15-0{
      padding: 15px 0px;
  }
  .pd-30-0
  {
    padding: 30px 0px;
  }
  .pd-50-0{
      padding: 50px 0px;
  }
  .pd-80-0{
      padding: 100px 0px;
  }
  .pdt-70{
      padding-top: 70px;
  }
  .pdt-60
  {
    padding-top: 60px;
  }
  .pdt-30{
      padding-top: 30px;
  }
  .pd-15-15{
      padding: 15px;
  }
  .mgt-15
  {
      margin-top: 15px;
  }
  .mgt-30{
    margin-top: 30px;
  }
  .mgt-60{
    margin-top: 60px;
  }
  .mgb-30{
      margin-bottom: 30px;
  }
  .mgb-60{
      margin-bottom: 60px;
  }
  .mgr-15{
      margin-right: 15px;
  }
  .btn.form-button
  {
      width: 120px;
      height: 40px;
      border-radius: 30px;
      box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
      color:white;
      font-size: 15px;
  }
  .bg-blue .form-control{
    font-size: 1.4rem;
  }
  .bg-blue select.form-control:not([size]):not([multiple]) {
    height: calc(2.85rem + 2px);
  }
  label{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .relative
  {
      position: relative;
  }

.load{
  height: calc(100vh - 59px);
}

  .lds-ring {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 800px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0255ab;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0255ab transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heading
{
  font-size: 24px;
}
.big-heading
{
  font-size: 40px;
}
sub,sup{
  font-size: 75%;
}
.sub-heading{
  font-size: 16px;
}
.list-heading{
  font-size: 15px;
  position: relative;
  margin-bottom: 30px;
  line-height: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 8px;
  border: 6px solid #0255ab;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0255ab transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.banner-image-section > img{
  height: 140px;
}
.banner-heading
{
  font-size: 30px;
}

.list-container{
  padding-left: 80px;
}

.feature-list li::before {
  content: '';
  height: 30px;
  width: 30px;
  background-image: url(/img/checked.a9cdbc77.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0px;
  position: absolute;
  left: -45px;
  top:0px;
}
.is-invalids{
    border-color: #dc3545;
}
.invalid-feedbacks{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.table_container td{
  font-size: 2em;
}
.table_container button{
  font-size: 1em;
}
.list-group-item{
  font-size: 16px;
}
.error-message
{
  /* position: absolute; */
  margin-top: 1px;
  font-size: 14px;
}
.input-tooltip
{
  position: absolute;
    top: 43px;
    right: 25px;
    font-size: 15px;
    transform: translateY(-50%);
    color: #064C95;
}
.bg-blue .form-group{
  margin-bottom:  12px;
}
.total_result{
  font-size: 2em;
}
.number2words{
    /* position: absolute; */
  font-size: 12px;
  padding:5px;
}
@media screen and (max-width: 767px) {
  .desktop-version{
    display:none;
  }
  .list-heading{
    font-size: 13px;
    position: relative;
    margin-bottom: 30px;
    /* line-height: 10px; */
  }
  .feature-list li::before {
    content: '';
    height: 17px;
    width: 17px;
    background-image: url(/img/checked.a9cdbc77.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0px;
    position: absolute;
    left: -45px;
    top:0px;
  }
  .list-heading{
    font-size: 13px;
    position: relative;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .heading
  {
  font-size:15px;
  }
  .sub-heading{
    font-size:13px;
  }
  .banner-image-section > img{
    width:70px;
    height:auto!important;
  }
  .img-fluid{
    width:122px;
  }
  .img-2{
    display:flex;
    justify-content:center;
  }
  .other-page:not(:last-child)
  {
    margin-bottom: 25px;
  }
  .progress-list .list-inline-item:not(:last-child) {
    margin-right: 0rem;
}
.progress-list > li.active.list-inline-item:not(:last-child):after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 25%;
  left: 48px;
}
.progress-list > li.list-inline-item:not(:last-child):after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  position: absolute;
  top: 25%;
  left: 48px;
}
.big-heading{
  font-size: 25px;
  text-align: center;
}
}
